.Rproj.user
.Rhistory
.RData
.Ruserdata
sources/journal-of-the-plague-year.txt
LaTeX
to_hf.md
to_hf.pdf
tryp.R
try.R
*.kilepr
tryr.R
.kile
.vscode
scripts/stan_models/
scripts/eda
download_london_map.R
*.html
sources/maps/*.jpg
sources/maps/*.txt
text/
sources/mortality-bills/WeeklyBillsMortality1644to1849/
sources/mortality-bills/cleaned/*.rds
sources/mortality-bills/get_extensive_bills.sh
